*{
    margin: 0;
}
button a {
    color: white;
    text-decoration: none;
}
nav a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
body {
    width: 100%;
    min-height: 90vh;
    background-color: #e9e9e9 ;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    
}

header {
    position: fixed;
    background: #F4F7FC;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 999 ;
    padding-top: 0px;
    margin: 0%;
}
.signup {
    margin: 10px;
    color: white;
    font-weight: bold;
}
.regtd {
    margin: 10px;
    color: white;
    font-weight: bold;
}

.butt {
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}
button {
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color:  #64C5c6;
    color: #F4F7FC;
    border-radius: 10px;
    border: #64C5c6;
}
.navigation {
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
    align-items: center;
    /* margin-right: 50px; */
    padding-bottom: 0%;
}
nav {
    cursor: pointer;
    margin-right: 40px;
    font-size: 100%;
    margin-bottom: 45px;
    color: black;
}

.hero {
    width: 100%;
    height: 500px;
    background-image: url(./img/Frame\ 55.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 120px;
}

.hero h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F7FC;
}
.hero h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F7FC;
}
.hot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 90px;
    background-color: white;
    position: absolute; 
    bottom: 0%;
}
input{
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
}

.hott {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
    width: 350px;
    height: 50%;
    overflow: hidden;
    background-color: white;
    color: black;
    margin-left: 50px;
    border-color: grey;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.363) 0px 0px 0px 1px inset, rgba(97, 89, 89, 0.9) 0px 0px 0px 1px;
 }
 .searchhotel {
    margin: auto;
 }
.suggested {
    margin-top: 10px;
    margin-bottom: 30px;
}
.suggested h4 {
    margin-left: 70px;
    margin-bottom: 10px;
}

.suggestpage_sub{
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.suggested h4 {
    font-size: 20px;
}
 
.ha1{
    margin: 20px;
}
.suggestpage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.hotelstates a {
    color: #F4F7FC;
    font-size: smaller;
}
.hotelstates {
    /* display: flex;
    flex-wrap: wrap; */
    width: 100%;
    gap: 20px;
    min-height: 500px;
    align-items: center;
    justify-content: space-around;
}

.hotellag {
    height: 200px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.hotellag h4 {
    width: 200px;
    position: absolute;
    background-color: rgb(65, 65, 65);
}
.hotellag img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}

.port {
    width: 300px;
    height: 200px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.port h4 {
    width: 200px;
    position: absolute;
    background-color: rgb(65, 65, 65);
}

.port img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.abuja {
    width: 300px;
    height: 200px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}
.abuja h4 {
    width: 200px;
    position: absolute;
    background-color: rgb(65, 65, 65);
}

.abuja img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.enugu {
    width: 300px;
    height: 200px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.enugu h4 {
    position: absolute;
    width: 200px;
    background-color: rgb(65, 65, 65);
}

.enugu img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.benue {
    width: 300px;
    height: 200px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.benue h4 {
    position: absolute;
    width: 200px;
    background-color: rgb(65, 65, 65);
}

.benue img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.uyo {
    width: 300px;
    height: 200px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;    
}
.uyo h4 {
    position: absolute;
    background-color: rgb(65, 65, 65);
    width: 200px;
}

.uyo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.flex1{
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    animation-name: jay;
    animation-duration: 5s;
    left: 0%;
}
@keyframes jay {
    0% {
        left: -1000px;
    }
    100% {
        left: 0;
    }
}
.flex2 {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    animation-name: joy;
    animation-duration: 5s;
    left: 0%;
}
@keyframes joy {
    0% {
        right: -1000px;
    }
    100% {
        left: 0;
    };
}


.storycard p {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    font-weight: 550;
    line-height:35px ;
    font-size: large;
    color: rgba(0, 0, 0,0.8);
}
.storycard h3 {
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 49px;
    font-size: 50px;

}
.story {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    padding-top: 100px;
    margin-top: 50px;
}
.box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.box2 {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    /* background-color: green; */

}
.storycard {
    width: 400px;
    height: 400px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.hotelssection {
    width: 75%;
    margin-top: 0%;
    margin: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
}
.box33 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 20px;
}
.box34 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 20px;
}

.beach {
    width: 250px;
    height: 300px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.beach h4 {
    position: absolute;
    background-color: rgb(65, 65, 65);
}

.beach img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.business {
    width: 250px;
    height: 300px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.business h4 {
    position: absolute;
    background-color: rgb(65, 65, 65);
}

.business img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mainland {
    width: 250px;
    height: 300px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.mainland h4 {
    position: absolute;
    background-color: rgb(65, 65, 65);
}

.mainland img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.airport {
    width: 250px;
    height: 300px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.airport h4 {
    position: absolute;
    background-color: rgb(65, 65, 65);
}

.airport img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.island {
    width: 250px;
    height: 300px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.island h4 {
    position: absolute;
    background-color: rgb(65, 65, 65);
}

.island img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.others {
    width: 250px;
    height: 300px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.others h4 {
    position: absolute;
    background-color: rgb(65, 65, 65);
}
.box33 a {
    color: aqua;
    font-size: small ;
}
.box34 a {
    color: aqua;
    font-size: small ;
}
.others img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer h4 {
    font-size: medium;
    font-weight: 300;
    margin: 20px;
    padding: bottom 10px;
}
footer h2 {
    font-size: large;
    font-weight: bold;
    /* margin-left: 10px; */
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(43, 41, 41);
    color: white;
    height:35vh;
  }
  .log {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
  .log img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-right: 10px;
    /* margin-top: 0px; */
  }
  .headlogo {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    margin-left: 40px;
  }
  .headlogo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-right: 10px;
  }

  .getmore img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .getmore h3 {
    position: absolute;
    bottom: 70px;
  }
  .getmore {
    width: 100%;
    height: 300px;
    position: relative;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 50px;
    
}
.more {
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    font-weight: bolder;
}
.more h3 {
    font-size: 40px;
    background-color:rgb(88, 88, 88) ;
    font-weight: bold;

}
.flex1 a {
    color: aqua;
}
.flex2 a {
    color: aqua;
}
button:hover {
    background-color: #e9e9e9;
    
}