
body{
    background-color: #CCCCCC;
    /* min-height: 90vh; */
    font-family: 'Poppins', sans-serif;
}


header {
  position: fixed;
  background: #f4f7fc;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
  padding-top: 0px;
}
.headerlogo div {
  font-weight: bold;
}

.headerlogo {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.headerlogo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-right: 10px;
}
.contactButt {
  margin-top: 20px;
}
.contactButt a {
  text-decoration: none;
}
.navigation {
  display: flex;
  padding-top: 40px;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  align-items: center;
  margin-left: 170px;
  padding-bottom: 0%;
}
nav {
  cursor: pointer;
  margin-right: 40px;
  font-size: 100%;
  margin-bottom: 45px;
  color: black;
}
nav :hover {
  text-decoration: underline;
  text-shadow: chocolate;
}

nav a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  width: 150px;
  height: 50px;
  background-color: #64c5c6;
  color: #f4f7fc;
  border-radius: 10px;
  border: #64c5c6;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}
button:hover {
  background-color: bisque;
  color: black;
  cursor: pointer;
}

/* .logoh4 {
    margin-left: 0;
    color: black;
    padding-top: 20px;
    font-size: 15px;
} */

.section-top {
    background-image: url(./images/beautiful.jpg);
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-radius: 5px;
    background-position: center;
    justify-content: center;
    text-align: left;
    /* flex-direction: column; */
    padding-top: 90px;

}

.section-head {
    /* background-color: black; */
    text-decoration-color: white;
    border-radius: 5px;
    width: 50%;
    height: fit-content;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
   
    padding: 10px;
}


p{
    font-size: 10px;
    /* width: 40%; */
    /* flex-wrap: wrap; */
    /* font-weight: 400; */
    margin-left: 20px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;

}

h3{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    color: white;

}

.sub-section {
    text-align: center;
    padding-bottom: 50px;
    color: black;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.selections {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section {
    background-color: white;
    /* height: 45px; */
    margin: 20px 0px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid black;
}

.rooms {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.hanburgar {
    display: none;
  }


  @media screen and (max-width: 768px) {
    button {
        display: none;
      }
      .navigation {
        display: none;
      }
      .hanburgar {
        display: block;
        margin-right: 30px;
      }
    

      header {
        justify-content: space-between;
      }
    
      .section-top {
        background-size: cover;
      }

      p {
        font-size: 12px;
      }

      h3 {
        font-size: 18px;
      }

      h4 {
        margin-top: 10px;
      }

      .section {
        height: 50px;
      }
  }


  @media screen and (min-width:320px) and (max-width: 426px) {
    .footer {
        justify-content: space-around;
        width: 100%;
    }

    .section-top {
        background-size: cover;
        height: 250px;
        /* padding-top: 30px; */
      }
      .section-head{
        width: 100%;
      }

      p {
        /* font-size: 16px; */
      }

      h3 {
        font-size: 24px;
      }

      h4 {
        margin-top: 10px;
      }

  }
/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    background-color: rgb(43, 41, 41);
    color: white;
    width: 100%;
    min-height: 250px;
    position: relative;
  }
  .footer_logo {
    display: none;
  }
  
  .Sub_head h2 {
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
  }
  .Sub_head div {
    font-size: 13px;
    margin: 10px 0px;
  }
  .headlogo div {
    margin: 0%;
    padding: 0%;
  }