body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  position: fixed;
  background: #f4f7fc;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
  padding-top: 0px;
}

.headerlogo {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.headerlogo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-right: 10px;
}
.navigation {
  display: flex;
  padding-top: 40px;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  align-items: center;
  /* margin-right: 50px; */
  padding-bottom: 0%;
}
nav {
  cursor: pointer;
  margin-right: 40px;
  font-size: 100%;
  margin-bottom: 45px;
  color: black;
}

.background-img {
  background-image: url(./image/contact.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.background-img h1 {
  padding: 50px;
  padding: 0;
  padding: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f7f4;
}
.background-img h3 {
  padding: 50pxS;
  padding: 0;
  padding: 50pxS;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f7f4;
}
.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.contact-text {
  font-size: 24px;
  font-weight: bold;
}
.contact-text2 {
  font-size: 15px;
  font-weight: bold;
}

.names {
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.numandmail {
  width: 500px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.input {
  width: 230px;
  height: 40px;
}
.messages {
  width: 500px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

form {
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  margin-top: 20px;
}
button {
  width: 150px;
  height: 50px;
  background-color: #64c5c6;
  color: #f4f7fc;
  border-radius: 10px;
  border: #64c5c6;
}
footer {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  background-color: rgb(43, 41, 41);
  color: white;
  width: 100%;
  margin-top: 40px;
}

.ha1 {
  margin-bottom: 20px;
}

.logo {
  height: 30px;
  width: 30px;
  border-radius: 10px;
  /* background-color: white; */
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-right: 10px;
  /* margin-top: 0px; */
}
.hanburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .hanburger {
    display: block;
  }
  .navigation {
    display: none;
  }
  .background-img {
    min-height: 500px;
  }
}
@media screen and (max-width: 768) {
  button {
    display: none;
  }
}
