* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "poppins", sans-serif;
}

header {
  position: fixed;
  background: #f4f7fc;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
  padding-top: 0px;
}

.headerlogo {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.headerlogo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-right: 10px;
}
.navigation {
  display: flex;
  padding-top: 40px;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  align-items: center;
  /* margin-right: 50px; */
  padding-bottom: 0%;
}
nav {
  cursor: pointer;
  margin: 0px 15px;
  /* font-size: 100%; */
  margin-bottom: 45px;
  color: black;
}

nav a {
  text-decoration: none;
  color: black;
}

.background-img {
  background-image: url(./image/contact.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.background-img h1 {
  margin: 0;

  color: #f4f7f4;
  text-align: center;
}
.background-img h3 {
  margin: 0;

  color: #f4f7f4;
  text-align: center;
  margin-top: 30px;
}
.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.contact-text {
  font-size: 24px;
  font-weight: bold;
}
.contact-text2 {
  font-size: 15px;
  font-weight: bold;
}

.names {
  width: 500px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.numandmail {
  width: 500px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input {
  width: 230px;
  height: 40px;
  border-radius: 4px;
}
.messages {
  width: 500px;
  height: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

button {
  width: 150px;
  height: 50px;
  background-color: #64c5c6;
  color: #f4f7fc;
  border-radius: 10px;
  border: #64c5c6;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}
button:hover {
  background-color: bisque;
  color: black;
  cursor: pointer;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  background-color: rgb(43, 41, 41);
  color: white;
  width: 100%;
  min-height: 250px;
  position: relative;
}
.footer_logo {
  display: none;
}

.Sub_head h2 {
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px;
}
.Sub_head div {
  font-size: 13px;
  margin: 10px;
}
.hanburger {
  display: none;
}

@media screen and (max-width: 768px) {
  button {
    display: none;
  }
  .navigation {
    display: none;
  }
  .hanburger {
    display: block;
  }
  .footer {
    display: flex;
    width: 100%;
  }
  .footer_logo {
    display: none;
  }
  .footer_logo img {
    display: none;
  }
  .background-img h3 {
    margin-top: 15px;
    text-align: center;
  }
  .background-img h1 {
    text-align: center;
  }
}
@media screen and (max-width: 435px) {
  .background-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
  }

  .background-img h1 {
    width: 100%;
    margin-top: 70px;

    color: #f4f7f4;
  }
  .background-img h3 {
    width: 100%;
    margin-bottom: 80px;

    color: #f4f7f4;
    font-size: large;
  }
  /* align-items: center; */
  /* margin-left: 50px; */
  .names {
    width: 100%;
    gap: 20px;
  }
  .numandmail {
    width: 100%;
    gap: 20px;
  }

  .input {
    width: 200px;
    gap: 40px;
  }
  .messages {
    width: 100%;
  }
  .Sub_head h2 {
    font-size: 11px;
    font-weight: 350;
  }
  .Sub_head div {
    font-size: 8px;
    font-weight: 200;
  }
  .footer_logo {
    display: none;
  }

  footer {
    display: flex;
    /* flex-wrap: wrap; */
    /* padding: 0%; */
    width: 100%;
    margin-top: 40px;
    object-fit: cover;
  }
  header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
  }
  .headerlogo div {
    font-size: 15Spx;
  }
  .headerlogo {
    width: 100px;
    display: flex;
    font-weight: bolder;
    margin-left: 0%;
    margin-right: 65px;
    display: flex;
  }
  .headerlogo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin-left: 30px;
  }
  .hanburger {
    display: block;
    margin-right: 50px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 425px) {
  .background-img {
    width: 100%;
    object-fit: cover;
    word-wrap: break-word;
  }
  .background-img h1 {
    /* width: 100%; */
    align-items: center;
  }
  .background-img h3 {
    width: 100%;
    font-size: small;
    margin-right: 50px;
  }
  form {
    padding: 20px;
  }
  .names {
    width: 100%;
    gap: 20px;
  }
  .numandmail {
    width: 100%;
    gap: 20px;
  }
  .input {
    width: 100%;
    gap: 0;
  }
  footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(43, 41, 41);
    color: white;
    /* padding: 0%; */
    width: 100%;
    object-fit: cover;
  }
}
/* margin-top: 40px;
    height: 110px;
   */

/* .input {
    width: 10px;
    height: 10px;
  }
  /*  border-radius: 5px;
  
  .names {
    width: 10px;
    height: 10px;
    display: grid;

    /* 
    
    /*justify-content: space-evenly;
    border-radius: 5px;
    gap: 10px;
  */

/* width: 120px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    gap: 10px;
  
   */
/* @media screen and (max-width: 435) {
  .background-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .names {
    width: 50px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
  } */
/* } */
