
body {
    width: 100%;
    min-height: 90vh;
    background-color: #cccc ;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
header {
    position: fixed;
    background: #F4F7FC;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 999 ;
    padding-top: 0px;
}
button {
    width: 150px;
    height: 50px;
    background-color:  #64C5c6;
    color: #F4F7FC;
    border-radius: 10px;
    border: #64C5c6;
}
.navigation {
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
    text-align: center;
    cursor: pointer;
    align-items: center;
    padding-bottom: 0%;
}
.headlogo{
    height: 50px;
    width: 50px;
    border-radius: 80px;
    /* background-color: white; */
    display: flex;
}
nav {
    cursor: pointer;
    margin-right: 40px;
    font-size: 100%;
    margin-bottom: 45px;
    color: black;
}

.debbyheros {
    width: 100%;
    min-height: 550px;
    background-image: url(./image/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.herosh1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F7FC;
    background-color: black;
    /* bottom: 30px; */
}
.herosh3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F7FC;
    background-color: black;
}

/* .search {
    display: flex;
    flex-direction: row;
} */



    .debbyabout{
        min-height: 550px;
       width: 100%;
        background-color: #cccccc;
        justify-content: center; 
        align-items: center;
        display: flex;
        gap: 10px;
}
.debbya{
    height: 400px;
    width: 550px;
    background-image: url(./image/Frame\ 48.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.h1a{
    font-size: 50px;
    text-align: left;
    font-weight: bold;
     margin-left: 30px;
    border-right: 3px solid aquamarine;
    width: 360px;
    animation: typewritter,blinkcursor;
    white-space: nowrap;
    overflow: hidden;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(44);
    animation-direction: alternate;
}

@keyframes typewritter {
    0% {

        width: 0;
    }
    100%{
      width: 240px;
    }
}

@keyframes blinkcursor{
    0%{
       border-right-color: aquamarine;
    }
    100%{
        border-right-color: rgb(187, 245, 225);
    }

}
  
.pa{
    font-size: 20px;
    margin-left: 30px;
    width: 400px;
    animation-name: mycontent;
    animation-duration: 3s;
    position: relative;
    left: 0;
}
@keyframes mycontent {
    0%{
        left: -1000px;
    }
    100%{
        left: 0;
    }
}

    .debbyabout{
        min-height: 400px;
        width: 100%;
        background-color: #cccccc;
        justify-content: center; 
        align-items: center;
        display: flex;
        border-radius: 10px;
}

.writeup{
    height: 400px;
    width: 500px;
    background-color: rgb(241, 234, 234);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    }
    

  footer{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    background-color: rgb(43, 41, 41);
    color: white;
    min-height: 250px;
    width: 100%;
    position: relative;
  }


.ha1{
    font-size: 15px;
    font-weight: bold;
}

.foologo{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    /* background-color: white; */
    display: flex;
    margin-top: 50px;

}


p{
    font-size: 13px;

}
.foologo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
    
    
    .hanburgar{
        display: none;
    }

    .top{
        text-align: left;
        margin-top: 30px;
    }
    .beach{
        text-align: left;
        margin-top: 30px;
    }
    .twiter{
        text-align: left;
        margin-top: 30px;
    }
    .Quick{
        text-align: left;
        margin-top: 30px;
    }

@media screen and (max-width: 768px) {
    .hanburgar{
        display: block;
    }
    .navigation{
        display: none;
    }
    /* .debbyheros{
        min-height: 500px;
        
    }
     */
}

@media screen and (max-width: 768px)  {
    button {
        display: none;
    }
    .navigation{
        display: none;
    }
    .debbyabout{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .writeup{
        overflow: hidden;
        width: 100%;
    }
    .debbya{
        width: 100%;
        height: 300px;
    }
    footer{
        flex-wrap: wrap;
    }
    .foologo{
        flex-wrap: wrap;
    }
     
    /* .slider{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        flex-wrap: wrap;
    } */
    
  
}

@media screen and (min-width: 769px) {
     .navigation{
      display: flex;
      padding-top: 40px;
     justify-content: space-around;
      text-align: center;
     cursor: pointer;
     align-items: center;
    /* margin-right: 50px; */
     padding-bottom: 0%;
     }

}
 .slide{
    height: 400px;
    overflow: hidden;
}
.slide h2{
    text-align: center;
    font-weight: 550;
}
.gym{
    position: absolute;
    margin: 20px;
    /* text-align: center; */
    color: #64C5c6;
    background-color: white;
}
.g{
    position: absolute;
    margin: 20px;
    color:#64C5c6 ;
    background-color: white;
}
.gy{
    position: absolute;
    margin: 20px;
    color:#64C5c6 ;
    background-color: white;
}


.slider{
    /* height: 500px;  */
      width: 500%;
    position: relative;
    left: 0;
    animation-name: sli;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    /* text-align: center; */
}
.slider img{
    float: left;
    width: 20%;
   /* height: 350px; */
   /* width: 20%; */
}

@keyframes sli{
    0% {
        left: 0;
    }
    33.33% {
        left: 0;
    }
    66.66% {
        left: -100%;
    }
    80% {
        left: -200%;
    }
    90.99% {
        left: -200%;
    }
    100% {
        left: 0;
    }
} 

@media screen and (min-width: 320px) and (max-width:425px) {
    .slide{
        height: 200px;
        margin: 0 auto;
    }
    footer{
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .h1a{
        width: 200px;
    }
    .slider{
        width: 500%;
    }
    .debbyabout{
        margin: 0 auto;
    }
    .pa{
        width: 250px;
    }
}

@media screen and ( min-width:425px)  and (max-width:768px) {
    .slide{
        height:250px;
         margin: 0 auto; 
    }
    
}